@import "variables";
@import "mixins";

.UserRow {
  padding: 5px;
  background-color: $tertiary-background-color;
  &--selected {
    background-color: $primary-background-color;
    color: $text-tertiary-color
  }
}
