@import "variables";

.Button {
  background-color: $secondary-background-color;
  border: 1px solid $secondary-color;
  padding: 5px;
  &:hover {
    background-color: $primary-background-color;
  }
}
