@import "variables";

body {
  margin: 0;
  box-sizing: border-box;
}

button {
  border: 0;
}

button:focus {
  outline: 0;
  background-color: $secondary-color;
}

input,
select {
  background-color: $tertiary-background-color;
  border: 0;
  border-radius: 0;
}

* {
  font-family: Open-Sans, sans-serif;
  color: $primary-color;
}

*:focus {
  outline: 0;
  border: {
    color: $primary-color;
    width: 1px;
    style: solid;
  }
}
