@import "variables";

body {
  margin: 0;
  box-sizing: border-box;
}

button {
  border: 0
}

* {
  font-family: Open-Sans, sans-serif;
}

*:focus {
  outline: {
    color: $primary-color;
    width: 2px;
    style: solid;
  }
}
