// Colors

$primary-color: #05386B;
$secondary-color: #379683;
$primary-background-color: #5CDB95;
$secondary-background-color: #8EE4AF;
$secondary-background-color: #EDF5E1;
$text-primary-color: #05386B;
$text-secondary-color: #5CDB95;
$text-tertiary-color: #EDF5E1;
